/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover; 
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wght' var(--text-font-weight);
}

.block-layout {
  margin-inline: auto;
  inline-size: var(--block-width);
}

/* Стили для шапки сайта */

.header {
  padding-block: var(--block-padding);
}

.header__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  background-color: var(--bg-color);
  border: var(--element-border);
  font-family: var(--accent-font-family), sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

.header__cover-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__cover-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
}

/* Стили для основной секции */

.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--article-gap);
  padding-block-end: var(--block-padding);
}

/* Стили для карточек */

.card {
  background-color: var(--bg-color);
  border: var(--element-border);
}

.card__title {
  font-size: var(--text-font-size);
  line-height: 1;
  font-variation-settings: 'wght' var(--title-font-weight);
  padding: 4px 10px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding: var(--card-padding);
  font-size: var(--text-font-size);
  line-height: 1.17;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  border-block: var(--element-border);
}

.card__button-group {
  display: flex;
  gap: 5px;
  align-self: flex-end;
}

.button {
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 0.9;
  font-weight: 400;
  background-color: transparent;
  border: var(--element-border);
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.like-icon {
  display: block;
}

.card__like-button {
  inline-size: 130px;
  padding: 10px;
}
