/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover; 
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: 'wght' var(--text-font-weight);
}

.block-layout {
  margin-inline: auto;
  inline-size: var(--block-width);
}

/* Стили для шапки сайта */

.header {
  padding-block-start: var(--block-padding);
  padding-block-end: 98px;
}

.header__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.5rem, 7.2799rem + 0.939vw, 8.125rem);
  background-color: var(--bg-color);
  border: var(--element-border);
  font-family: var(--accent-font-family), sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

.header__cover-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__cover-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
}

/* Стили для основной секции */

.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--article-gap);
  padding-block-end: var(--block-padding);
}

/* Стили для карточек */

.card {
  background-color: var(--bg-color);
  border: var(--element-border);
}

.card__title {
  font-size: var(--text-font-size);
  line-height: 1.2;
  font-variation-settings: 'wght' var(--title-font-weight);
  padding: 5px 10px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding: var(--card-padding);
  font-size: var(--text-font-size);
  line-height: 1.17;
}

.card__image-wrapper {
  position: relative;
  border-block: var(--element-border);
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--shadow-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px rgba(255 255 255 / 0.5)) or (-webkit-text-stroke: 1px rgba(255 255 255 / 0.5))) {
  .card__label {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.card__button-group {
  display: flex;
  gap: 5px;
  align-self: flex-end;
}

.button {
  font-family: var(--accent-font-family);
  font-size: var(--button-font-size);
  line-height: 0.9;
  font-weight: 400;
  background-color: transparent;
  border: var(--element-border);
  cursor: pointer;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.like-icon {
  display: block;
}

.card__like-button {
  inline-size: 130px;
  padding: 10px;
}

/* Стили для кнопки сохранения */

.main-content__save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  background-color: var(--bg-color);
  margin-inline: auto;
  padding-block: 16px;
  padding-inline: 10px;
}

.main-content__icon-floppy {
  display: block;
  inline-size: 21px;
  block-size: 21px;
}

/* Стили для модального окна */

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 18px;
  row-gap: 30px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  border: var(--element-border);
  padding: var(--dialog-padding);
}

.dialog::backdrop {
  background-color: var(--backdrop-color);
}

.dialog__icon-floppy {
  display: block;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  grid-column: 2;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

.dialog__button {
  grid-column: 1 / 3;
  padding: 10px;
}

.dialog__button .button__text {
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    padding-block-end: var(--block-padding);
  }
  .main-content__save-button {
    flex-direction: column;
    align-items: center;
  }

  .main-content__icon-floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding-inline: 40px;
  }
}