/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter-Variable';
    --accent-font-family: 'PressStart2P-Regular';
    --title-font-weight: 715;
    --text-font-weight: 410;
    --text-font-size: 18px;
    --button-font-size: 14px;
    --block-padding: 100px;
    --article-gap: 50px;
    --card-padding: 25px;
    --card-gap: 25px;
    --dialog-padding: 30px;
    --block-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --bg-image: 
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a);
    --bg-color: #fff;
    --diff-button-color: #fff;
    --shadow-color: rgba(255 255 255 / 0.5);
    --border-color: #000;
    --element-border: 2px solid var(--border-color);
    --backdrop-color: rgba(0 0 0 / 0.75);
    --heart-contour-color: #000;
    --animation-fill-color: #f00;
}